.offerBanner{
    background-color: #e8e8e8;
}
.offerBannerMain{

}
.bannerImage img{
    width: 100%;
}
.textbanner{
    height: 100%;
}
.offerDiv{
    width: 160px;
    height: 160px;
    top: 150px;
    /* rotate: 30deg; */
    /* transform: rotate(30deg); */
    background-color: #d72d2d;
    color: white;
}
.innertext{
    rotate: 25deg;
}